@layer tokens {
    :where(:root, :host) {
  --colors-ui-bg: var(--colors-slate1);
  --colors-surface1: var(--colors-slate3);
  --colors-surface2: var(--colors-slate12);
  --colors-text2: var(--colors-slate11);
  --colors-text3: var(--colors-gold9);
  --colors-text4: var(--colors-slate1);
  --spacing-none: 0;
  --spacing-3xs: clamp(0.25rem, 0.15vw + 0.22rem, 0.31rem);
  --spacing-2xs: clamp(0.5rem, 0.3vw + 0.43rem, 0.63rem);
  --spacing-xs: clamp(0.75rem, 0.45vw + 0.65rem, 0.94rem);
  --spacing-s: clamp(1rem, 0.6vw + 0.86rem, 1.25rem);
  --spacing-m: clamp(1.5rem, 0.9vw + 1.3rem, 1.88rem);
  --spacing-l: clamp(2rem, 1.2vw + 1.73rem, 2.5rem);
  --spacing-xl: clamp(3rem, 1.81vw + 2.59rem, 3.75rem);
  --spacing-2xl: clamp(4rem, 2.41vw + 3.46rem, 5rem);
  --spacing-3xl: clamp(6rem, 3.61vw + 5.19rem, 7.5rem);
  --sizes-prose: 60ch;
  --sizes-full: 100%;
  --sizes-channel: 700px;
  --sizes-screen-w: 100vw;
  --sizes-screen-h: 100vh;
  --sizes-desktop: 1440px;
  --sizes-breakpoint-bp1: 520px;
  --sizes-breakpoint-bp2: 768px;
  --sizes-breakpoint-bp3: 1040px;
  --sizes-breakpoint-bp4: 1800px;
  --radii-none: 0;
  --radii-round: 50%;
  --radii-pill: 9999px;
  --radii-card: 5px;
  --fonts-primary: var(--font-sans);
  --fonts-serif: var(--font-serif);
  --fonts-mono: var(--font-mono);
  --font-weights-bold: 700;
  --font-weights-regular: 400;
  --font-sizes-1: clamp(0.81rem, 0.45vw + 0.71rem, 1rem);
  --font-sizes-2: clamp(1rem, 0.6vw + 0.86rem, 1.25rem);
  --font-sizes-3: clamp(1.25rem, 0.75vw + 1.08rem, 1.56rem);
  --font-sizes-4: clamp(1.56rem, 0.9vw + 1.36rem, 1.94rem);
  --font-sizes-5: clamp(1.94rem, 1.2vw + 1.67rem, 2.44rem);
  --font-sizes-6: clamp(2.44rem, 1.51vw + 2.1rem, 3.06rem);
  --font-sizes-7: clamp(3.06rem, 1.81vw + 2.66rem, 3.81rem);
  --font-sizes-8: clamp(3.81rem, 2.26vw + 3.3rem, 4.75rem);
  --line-heights-tight: 1;
  --line-heights-body: 1.5;
  --line-heights-loose: 2;
  --z-index-under: -1;
  --z-index-over: 1;
  --z-index-init: 0;
  --z-index-nuclear: 9999;
  --shadows-focus: 0 0 0 3px var(--colors-gold6);
  --durations-default: 225ms;
  --easings-default: cubic-bezier(0.4, 0, 0.2, 1);
  --animations-skeleton: skeleton 8s ease-in-out infinite;
  --breakpoints-bp1: 520px;
  --breakpoints-bp2: 768px;
  --breakpoints-bp3: 1040px;
  --breakpoints-bp4: 1800px;
  --colors-gold1: hsl(50, 20.0%, 99.1%);
  --colors-gold2: hsl(47, 52.9%, 96.7%);
  --colors-gold3: hsl(46, 38.2%, 93.7%);
  --colors-gold4: hsl(44, 32.7%, 90.1%);
  --colors-gold5: hsl(43, 29.9%, 85.7%);
  --colors-gold6: hsl(41, 28.3%, 79.8%);
  --colors-gold7: hsl(39, 27.6%, 71.9%);
  --colors-gold8: hsl(36, 27.2%, 61.8%);
  --colors-gold9: hsl(36, 20.0%, 49.5%);
  --colors-gold10: hsl(36, 19.8%, 45.7%);
  --colors-gold11: hsl(36, 20.0%, 39.0%);
  --colors-gold12: hsl(36, 16.0%, 20.0%);
  --colors-green1: hsl(136, 50.0%, 98.9%);
  --colors-green2: hsl(138, 62.5%, 96.9%);
  --colors-green3: hsl(139, 55.2%, 94.5%);
  --colors-green4: hsl(140, 48.7%, 91.0%);
  --colors-green5: hsl(141, 43.7%, 86.0%);
  --colors-green6: hsl(143, 40.3%, 79.0%);
  --colors-green7: hsl(146, 38.5%, 69.0%);
  --colors-green8: hsl(151, 40.2%, 54.1%);
  --colors-green9: hsl(151, 55.0%, 41.5%);
  --colors-green10: hsl(152, 57.5%, 37.6%);
  --colors-green11: hsl(153, 67.0%, 28.5%);
  --colors-green12: hsl(155, 40.0%, 14.0%);
  --colors-slate1: hsl(206, 30.0%, 98.8%);
  --colors-slate2: hsl(210, 16.7%, 97.6%);
  --colors-slate3: hsl(209, 13.3%, 95.3%);
  --colors-slate4: hsl(209, 12.2%, 93.2%);
  --colors-slate5: hsl(208, 11.7%, 91.1%);
  --colors-slate6: hsl(208, 11.3%, 88.9%);
  --colors-slate7: hsl(207, 11.1%, 85.9%);
  --colors-slate8: hsl(205, 10.7%, 78.0%);
  --colors-slate9: hsl(206, 6.0%, 56.1%);
  --colors-slate10: hsl(206, 5.8%, 52.3%);
  --colors-slate11: hsl(206, 6.0%, 43.5%);
  --colors-slate12: hsl(206, 24.0%, 9.0%);
  --colors-yellow1: hsl(60, 54.0%, 98.5%);
  --colors-yellow2: hsl(52, 100%, 95.5%);
  --colors-yellow3: hsl(55, 100%, 90.9%);
  --colors-yellow4: hsl(54, 100%, 86.6%);
  --colors-yellow5: hsl(52, 97.9%, 82.0%);
  --colors-yellow6: hsl(50, 89.4%, 76.1%);
  --colors-yellow7: hsl(47, 80.4%, 68.0%);
  --colors-yellow8: hsl(48, 100%, 46.1%);
  --colors-yellow9: hsl(53, 92.0%, 50.0%);
  --colors-yellow10: hsl(50, 100%, 48.5%);
  --colors-yellow11: hsl(42, 100%, 29.0%);
  --colors-yellow12: hsl(40, 55.0%, 13.5%);
  --colors-tomato1: hsl(10, 100%, 99.4%);
  --colors-tomato2: hsl(8, 100%, 98.4%);
  --colors-tomato3: hsl(8, 100%, 96.6%);
  --colors-tomato4: hsl(8, 100%, 94.3%);
  --colors-tomato5: hsl(8, 92.8%, 91.0%);
  --colors-tomato6: hsl(9, 84.7%, 86.3%);
  --colors-tomato7: hsl(10, 77.3%, 79.5%);
  --colors-tomato8: hsl(10, 71.6%, 71.0%);
  --colors-tomato9: hsl(10, 78.0%, 54.0%);
  --colors-tomato10: hsl(10, 71.5%, 50.0%);
  --colors-tomato11: hsl(10, 82.0%, 43.5%);
  --colors-tomato12: hsl(10, 50.0%, 13.5%);
  --colors-text1: black
}

.dark-theme {
  --colors-gold1: hsl(44, 9.0%, 8.3%);
  --colors-gold2: hsl(43, 14.3%, 9.6%);
  --colors-gold3: hsl(42, 15.5%, 13.0%);
  --colors-gold4: hsl(41, 16.4%, 15.6%);
  --colors-gold5: hsl(41, 16.9%, 17.8%);
  --colors-gold6: hsl(40, 17.6%, 20.8%);
  --colors-gold7: hsl(38, 18.5%, 26.4%);
  --colors-gold8: hsl(36, 19.6%, 35.1%);
  --colors-gold9: hsl(36, 20.0%, 49.5%);
  --colors-gold10: hsl(36, 22.3%, 54.5%);
  --colors-gold11: hsl(35, 30.0%, 64.0%);
  --colors-gold12: hsl(49, 52.0%, 93.8%);
  --colors-green1: hsl(146, 30.0%, 7.4%);
  --colors-green2: hsl(155, 44.2%, 8.4%);
  --colors-green3: hsl(155, 46.7%, 10.9%);
  --colors-green4: hsl(154, 48.4%, 12.9%);
  --colors-green5: hsl(154, 49.7%, 14.9%);
  --colors-green6: hsl(154, 50.9%, 17.6%);
  --colors-green7: hsl(153, 51.8%, 21.8%);
  --colors-green8: hsl(151, 51.7%, 28.4%);
  --colors-green9: hsl(151, 55.0%, 41.5%);
  --colors-green10: hsl(151, 49.3%, 46.5%);
  --colors-green11: hsl(151, 50.0%, 53.2%);
  --colors-green12: hsl(137, 72.0%, 94.0%);
  --colors-slate1: hsl(200, 7.0%, 8.8%);
  --colors-slate2: hsl(195, 7.1%, 11.0%);
  --colors-slate3: hsl(197, 6.8%, 13.6%);
  --colors-slate4: hsl(198, 6.6%, 15.8%);
  --colors-slate5: hsl(199, 6.4%, 17.9%);
  --colors-slate6: hsl(201, 6.2%, 20.5%);
  --colors-slate7: hsl(203, 6.0%, 24.3%);
  --colors-slate8: hsl(207, 5.6%, 31.6%);
  --colors-slate9: hsl(206, 6.0%, 43.9%);
  --colors-slate10: hsl(206, 5.2%, 49.5%);
  --colors-slate11: hsl(206, 6.0%, 63.0%);
  --colors-slate12: hsl(210, 6.0%, 93.0%);
  --colors-yellow1: hsl(45, 100%, 5.5%);
  --colors-yellow2: hsl(46, 100%, 6.7%);
  --colors-yellow3: hsl(45, 100%, 8.7%);
  --colors-yellow4: hsl(45, 100%, 10.4%);
  --colors-yellow5: hsl(47, 100%, 12.1%);
  --colors-yellow6: hsl(49, 100%, 14.3%);
  --colors-yellow7: hsl(49, 90.3%, 18.4%);
  --colors-yellow8: hsl(50, 100%, 22.0%);
  --colors-yellow9: hsl(53, 92.0%, 50.0%);
  --colors-yellow10: hsl(54, 100%, 68.0%);
  --colors-yellow11: hsl(48, 100%, 47.0%);
  --colors-yellow12: hsl(53, 100%, 91.0%);
  --colors-tomato1: hsl(10, 23.0%, 9.4%);
  --colors-tomato2: hsl(9, 44.8%, 11.4%);
  --colors-tomato3: hsl(8, 52.0%, 15.3%);
  --colors-tomato4: hsl(7, 56.3%, 18.0%);
  --colors-tomato5: hsl(7, 60.1%, 20.6%);
  --colors-tomato6: hsl(8, 64.8%, 24.0%);
  --colors-tomato7: hsl(8, 71.2%, 29.1%);
  --colors-tomato8: hsl(10, 80.2%, 35.7%);
  --colors-tomato9: hsl(10, 78.0%, 54.0%);
  --colors-tomato10: hsl(10, 81.7%, 59.0%);
  --colors-tomato11: hsl(10, 85.0%, 62.8%);
  --colors-tomato12: hsl(10, 89.0%, 96.0%);
  --colors-text1: white
}
  }
  